﻿@model ExternalServicesLogin.Models.StringListModel
@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<br />
@if (Model.ListOfString != null && Model.ListOfString.Count() > 0)
{

    foreach (var name in Model.ListOfString)
    {
        <label>@name</label> 
@Html.ActionLink("Delete", "DeleteRole", new {roleName=@name})
        <br />
    }
}
else
{
    <label>No roles defined</label>
}
<br />
<p>
    @Html.ActionLink("Create new role", "NewRole")
     
    
    </p>