﻿@model CAFIdentityManager.Models.CAFRole
@{
    ViewBag.Title = "NewRole";
}

<h2>New Role</h2>

@using (Html.BeginForm())
{ 
    <div>Role Name  @Html.TextBoxFor(m=> m.Name)
    <br />
    <button type="submit">SAVE</button>
    </div>
}