﻿<!-- ko with: login -->
<h2>Log in</h2>

<div class="row">
    <section class="col-md-8">
        <form class="form-horizontal" role="form">
            <h4>Use a local account to log in.</h4>
            <hr />
            <ul class="text-danger" data-bind="foreach: errors">
                <li data-bind="text: $data"></li>
            </ul>
            <div class="form-group">
                <label for="LoginUserName" class="col-md-2 control-label">User name</label>
                <div class="col-md-10">
                    <input type="text" id="LoginUserName" class="form-control" data-bind="value: userName, hasFocus: true" />
                </div>
            </div>
            <div class="form-group">
                <label for="LoginPassword" class="col-md-2 control-label">Password</label>
                <div class="col-md-10">
                    <input type="password" id="LoginPassword" class="form-control" data-bind="value: password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <input type="checkbox" id="LoginRememberMe" data-bind="checked: rememberMe" />
                        <label for="LoginRememberMe">Remember me?</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default" data-bind="click: login, disable: loggingIn">Log in</button>
                </div>
            </div>
            <p><a href="#" data-bind="click: register">Register</a> if you don't have a local account.</p>

        </form>
    </section>
   
</div>
<!-- /ko -->
