﻿@model ExternalServicesLogin.Models.UserWithRoles
@{
    ViewBag.Title = "EditUser";
}

<h2> @Model.Username</h2>

<table>
    <tr><td>Role name</td> <td>Is in role</td> <td>Action</td></tr>

    @foreach (var roleInfo in Model.UserInRole)
    {
        <tr>
            <td>
                <label>@roleInfo.RoleName</label>
            </td>
            <td>
                <label>@roleInfo.IsInRole</label>
            </td>
            <td>
                @Html.ActionLink(roleInfo.ActionName, roleInfo.ActionMethodName, new { userID = @Model.UserID, roleID = @roleInfo.RoleID })
                </td>
            </tr>
    }
</table>
