﻿@model ExternalServicesLogin.Models.StringListModel
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<br />
@if (Model.ListOfString != null && Model.ListOfString.Count() > 0)
{

    foreach (var name in Model.ListOfString)
    {

        @Html.ActionLink(@name, "EditUser", new { username = @name })
        <br />
    }
}
else
{
    <label>No users defined</label>
}
